{% for counter in sai_counters %}
    /**
     * @brief DASH counter {{ counter.name | upper }}
     *
     * @type sai_object_id_t
     * @flags CREATE_AND_SET
     * @objects SAI_OBJECT_TYPE_COUNTER
     * @allownull true
     * @default SAI_NULL_OBJECT_ID
     */
    SAI_PORT_ATTR_{{ counter.name | upper }},

{% endfor %}