[submodule "dash-pipeline/SAI/SAI"]
	path = dash-pipeline/SAI/SAI
	url = https://github.com/opencomputeproject/SAI.git
	branch = master
[submodule "test/SAI-Challenger"]
	path = test/SAI-Challenger
	url = https://github.com/opencomputeproject/SAI-Challenger.git
	branch = main
