[submodule "dash-pipeline/SAI/SAI"]
	path = dash-pipeline/SAI/SAI
	url = https://github.com/reshmaintel/SAI.git
	branch = dash-ptf-ci
[submodule "test/SAI-Challenger"]
	path = test/SAI-Challenger
	url = https://github.com/opencomputeproject/SAI-Challenger
	branch = multiple-api-support
