/**
 * @brief Counter IDs for {{ api.description }}
 */
typedef enum _sai_{{ api.name }}_stat_t
{
    {% for stat in api.stats %}
    /** {{ stat.description }} */
    {{ stat.name }},

    {% endfor %}
} sai_{{ api.name }}_stat_t;