{% if table.sai_stats | length > 0 %}
/**
 * @brief Counter IDs for {{ table.name | upper }} in sai_get_{{ table.name }}_stats() call
 */
typedef enum _sai_{{ table.name }}_stat_t
{
    {% for stat in table.sai_stats %}
    /** DASH {{ table.name | upper }} {{ stat.name | upper }} stat count */
    SAI_{{ table.name | upper }}_STAT_{{ stat.name | upper }},

    {% endfor %}
} sai_{{ table.name }}_stat_t;

{% endif %}