{% if table.enable_bulk_get_api == 'true' %}
/**
 * @brief Bulk Get Op filter keywords for {{ table.name }} in get_{{ table.name | replace("entry", "entries")}}_attribute call
 */
typedef enum _sai_{{ table.name }}_bulk_get_filter_t
{
{% for key in table['keys'] %}
    /** Bulk get filter key word for {{ key.type }} {{ key.name | lower }} */
    SAI_{{ table.name | upper }}_BULK_GET_FILTER_T_{{ key.name | upper }},

{% endfor %}
{% for sai_attr in table.sai_attributes %}
    /** Bulk get filter key word for SAI_{{ table.name | upper }}_ATTR_{{ sai_attr.name | upper }} */
    SAI_{{ table.name | upper }}_BULK_GET_FILTER_T_{{  sai_attr.name  | upper }},

{% endfor %}
} sai_{{ table.name }}_bulk_get_filter_t;

/**
 * @brief Bulk Get Op for {{ table.name }} in get_{{ table.name | replace("entry", "entries")}}_attribute call
 */
typedef enum _sai_{{ table.name }}_bulk_get_op_t
{
    /**  Indicate the last OP of Bulk Get */
    SAI_{{ table.name | upper }}_BULK_GET_OP_LAST_ITEM,

    /** Operation parameter for normal return */
    SAI_{{ table.name | upper }}_BULK_GET_OP_NORMAL_RETURN,

    /** Operation parameter for GRPC return (server IP address) */
    SAI_{{ table.name | upper }}_BULK_GET_OP_GRPC_SERVER_IP,

    /**  Operation parameter for GRPC return (server port) */
    SAI_{{ table.name | upper }}_BULK_GET_OP_GRPC_SERVER_PORT,

    /** Operation parameter for get filter operator */
    SAI_{{ table.name | upper }}_BULK_GET_OP_FILTER_OP,

} sai_{{ table.name }}_bulk_get_op_t;

{% endif %}