{% if table.enable_bulk_get_api == 'true' %}
/**
 * @brief Bulk Get Op filter keywords for {{ table.name }} in get_{{ table.name | replace("entry", "entries")}}_attribute call
 */
typedef enum _sai_{{ table.name }}_bulk_get_filter_t
{
{% for key in table['keys'] %}
    /** Bulk get filter key word for {{ key.type }} {{ key.name | lower }} */
    SAI_{{ table.name | upper }}_BULK_GET_FILTER_KEY_{{ key.name | upper }},

{% endfor %}
{% for sai_attr in table.sai_attributes %}
    /** Bulk get filter key word for SAI_{{ table.name | upper }}_ATTR_{{ sai_attr.name | upper }} */
    SAI_{{ table.name | upper }}_BULK_GET_FILTER_{{  sai_attr.name  | upper }},

{% endfor %}
} sai_{{ table.name }}_bulk_get_filter_t;

typedef struct _sai_flow_entry_filter_data_t
{
    sai_{{ table.name }}_bulk_get_filter_t filter;
    sai_bulk_get_op_t op;
    sai_uint64_t value;
} sai_{{ table.name }}_filter_data_t;

{% endif %}