    {% if table.actions|length == 1 %}
    {% for name, action in table.actions.items() %}
    actionId = {{action.id}}; // {{name}}
    //expectedParams = {{ action.attr_params|length }};
    {% endfor %}
    {% else %}
    // Search the action
    for (uint32_t i = 0; i < attr_count; i++)
    {
        if (SAI_{{ api.name | upper }}_ATTR_ACTION == attr_list[i].id)
        {
            switch(attr_list[i].value.s32)
            {
                {% for name, action in table.actions.items() %}
                case {{ name }}:
                {
                    actionId = {{action.id}};
                    //expectedParams = {{ action.attr_params|length }};
                    break;
                }
                {% endfor %}
                default:
                    DASH_LOG_ERROR("attribute value [%d] %d not supported yet", i, attr_list[i].value.s32);
                    break;
            }
            // only one action
            break;
        }
    }
    {% endif %}
    action->set_action_id(actionId);

    for (uint32_t i = 0; i < attr_count; i++)
    {
        auto *md = sai_metadata_get_attr_metadata((sai_object_type_t)SAI_OBJECT_TYPE_{{ api.name | upper }}, attr_list[i].id);

        const char* attrName = md ? md->attridname : "unknown";

        switch(attr_list[i].id)
        {
        {% set attr_id_list = [] %}
        {% for name, action in table.actions.items() %}
            {% for param_name, param in action.attr_params.items() %}
            {% if param_name in attr_id_list %}{% continue %}{% endif %}
            {% do attr_id_list.append( param_name ) %}
            {% if param.skipattr == 'true' %}
            {% else %}
            case {{ param_name }}:
            {
                auto param = action->add_params();
                param->set_param_id({{param.id}});
                {{param.field}}SetVal(attr_list[i].value, param, {{param.bitwidth}});
                //matchedParams++;
                {% if param.ip_is_v6_field_id != 0 %}
                {
                    // set ip_is_v6_field_id field
                    auto param2 = action->add_params();
                    param2->set_param_id({{param.ip_is_v6_field_id}});
                    booldataSetVal((attr_list[i].value.ipaddr.addr_family == SAI_IP_ADDR_FAMILY_IPV4) ? 0 : 1, param2, 1);
                    //matchedParams++;
                }
                {% endif %}
                break;
            }
            {% endif %}
            {% endfor %}
        {% endfor %}
            default:
                DASH_LOG_ERROR("attribute [%d] %d %s not supported yet", i, attr_list[i].id, attrName);
                break;
        }
    }

