static sai_status_t dash_sai_get_{{ api.name }}_stats(
        {% include 'templates/headers/sai_api_param_object_id.j2' %},
        _In_ uint32_t number_of_counters,
        _In_ const sai_stat_id_t *counter_ids,
        _Out_ uint64_t *counters)
{
    DASH_LOG_ENTER();
    assert(0 && "sai_get_{{ api.name }}_stats NYI");
    return SAI_STATUS_FAILURE;
}

static sai_status_t dash_sai_get_{{ api.name }}_stats_ext(
        {% include 'templates/headers/sai_api_param_object_id.j2' %},
        _In_ uint32_t number_of_counters,
        _In_ const sai_stat_id_t *counter_ids,
        _In_ sai_stats_mode_t mode,
        _Out_ uint64_t *counters)
{
    DASH_LOG_ENTER();
    assert(0 && "sai_get_{{ api.name }}_stats_ext NYI");
    return SAI_STATUS_FAILURE;
}

static sai_status_t dash_sai_clear_{{ api.name }}_stats(
        {% include 'templates/headers/sai_api_param_object_id.j2' %},
        _In_ uint32_t number_of_counters,
        _In_ const sai_stat_id_t *counter_ids)
{
    DASH_LOG_ENTER();
    assert(0 && "sai_clear_{{ api.name }}_stats NYI");
    return SAI_STATUS_FAILURE;
}

